@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-left {
  animation: slideInLeft 1s forwards;
}

.slide-out-right {
  animation: slideOutRight 1s forwards;
}



body {
  font-family: sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
}

img {
  /* max-width: 50vw; */
  /* max-height: 25vw; */
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

/* mostly for navbar, can be moved to jsx file later */
nav {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  justify-content: center;
}

nav ul{
  display: flex;
  width: 70vw;
  padding: 0.5vw 3vw;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(100deg, rgba(255,255,255,0.3), rgba(255,255,255, 0));
  backdrop-filter: blur(8px) brightness(105%);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 3vw;
  z-index: 1;
  height: 6vw;
}

nav ul div{
  width: 11vw;
  text-align: center;
  align-items: center;
  padding: 0vw 1.7vw;
  border-radius: 1vw;
  transition: all 0.3s;
}

.navIndicator{
  position: absolute;
  background-color: #ff9f1c;
  z-index: -1 ;
  box-shadow: 0 0 15px #ff9f1c;
  transition: all 0.3s;
}

nav ul div:hover{
  letter-spacing: 2px;
}

.logo{
  width: 5.5vw;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9f1c;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
