@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

nav {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  padding-top: 2vw;
}

nav ul{
  display: flex;
  width: 70%;
  padding: 0.5vw 3vw;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(100deg, rgba(255,255,255,0.1), rgba(255,255,255, 0));
  backdrop-filter: blur(9px) brightness(120%);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 3vw;
  z-index: 1;
}

nav ul div{
  width: 11vw;
  text-align: center;
  align-items: center;
  padding: 0vw 1.7vw;
  border-radius: 1vw;
  transition: all 0.3s;
}

.navIndicator{
  position: absolute;
  background-color: #ff9f1c;
  z-index: -1 ;
  box-shadow: 0 0 15px #ff9f1c;
  transition: all 0.3s;
}

.logo{
  width: 6vw;
  margin: 0;
}